
<h1>Hello</h1>
<h2>This is Chris's' tinyapp</h2>
<% if(username) { %>
<p>username : <%= username %></p>
<form method="POST" action="/logout">
  <button type="submit">logout</button>
</form>
<% } else { %> 
<form action="/login" method="POST" style="margin:150px;">
      <label for="userId">Login</label>
      <input id="userId" type="text" name="username" style="width: 100px">
      <input type="submit" value="Login">
</form>
<% } %> 

