
<h1>Welcome</h1>
<% if(user) { %>
<h2>This is <%= user.email %>'s tinyapp</h2>
<form method="POST" action="/logout">
  <button type="submit">logout</button>
</form>
<% } else { %>
<h2>This is the tinyapp website</h2> 
<form action="/urls" method="POST" style="margin-bottom: 10px;">
     <button style="margin-top: 10px;"><a href="/register">Go To register</a></button>
     <button style="margin-top: 10px;"><a href="/login">Go To Login</a></button>
</form>
<% } %> 

