<h1>Login page for a user</h1>
<form action="/login" method="POST" style="margin:150px;">
      <label for="e-mail">e-mail</label>
      <input id="e-mail" type="email" name="email" placeholder="email@email.com" style="width: 300px">
      <label for="password">Password</label>
      <input id="password" type="password" name="password" style="width: 300px">
      <input type="submit" value="Login">
</form>