<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
     <% include partials/_header %>
     <li><%= shortURL %> : <%= urls[shortURL].longURL %></li>
     <form method="POST" action="/urls/<%= shortURL %>">
        <label for="longURL">Enter a New URL:</label>
        <input id="longURL" type="text" name="update" placeholder="http://" style="width: 300px">
        <input type="submit" value="update">
     </form>
     <a href="<%= urls[shortURL].longURL %>">Go to the longURL directly</a>
</body>
</html>
