<!DOCTYPE html>
<html lang="en">
<head>
 
</head>
<body>
     <% include partials/_header %>
     <% for(var i in urls) { %>
     <li><%= i %> : <%= urls[i] %></li>
     <form method="POST" action="/urls">
        <button><a href="/urls/<%= i %>">update</a></button>
     </form>
     <form method="POST" action="/urls/<%= i %>/delete">
        <button type="submit" value="remove" name="delete">Remove</button>
     </form>
     <% } %>
      <button><a href="/urls/new">Create New URL</a></button>

</body>
</html>

